.page{
  background: #2A2C2F;
  color: white;
  font-family: 'Inter';
  margin: 0 auto;
  max-width: 1280px;
}

.header{
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 0 auto;
  padding-left: 48px;
  padding-top: 28px;
  padding-bottom: 56px;
  padding-right: 48px;
  border: 1px solid red;
}

.header__logo{
  width: 176px;
  height: 52px;
}

.header__list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.header__lang{
  margin-right: 18px;
}

.header__lang:last-child{
  margin-right: 0;
}

.header__lang-link{
  padding: 0;
  margin: 0;
  color: white;
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;  /* изменить */
  font-style: normal;
  font-weight: 400;
}

.header__lang-link:hover{
  text-decoration: underline;
}

.lead{
  border: 1px solid red;
  max-width: 984px;
  margin: 0 auto;
  padding-top: 92px;
}

.lead__title{
  max-width: 720px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px; /* изменить */
  text-align: center;
  margin: 0 auto;
  padding-bottom: 32px;
}

.lead__subtitle{
  max-width: 640px;
  height: 72px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px; /* изменить */
  text-align: center;
  margin: 0 auto;
  padding-bottom: 64px;
}

.lead__image{
  width: 100%;
  margin: 0 auto;
  max-width: 984px;
}

.lead__caption{
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 0 auto;
  padding-top: 8px;
  text-align: left;
}

.intro{
  border: 1px solid red;
  max-width: 690px;
  padding-top: 92px;
  padding-bottom: 92px;
  display: flex;
  flex-direction: column;
  margin: 0 442px 0 148px;
}

.intro__title{
  max-width: 690px;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin: 0;
}

.intro__text{
  max-width: 690px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding-top: 40px;
}

.intro__list{
  max-width: 690px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.intro__list-item-bold{
  font-style: normal;
  font-weight: 400;
}

.photo-grid{
  margin: 0 auto;
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
} 

.photo-grid__list-item{
  box-sizing: border-box;
  width: 100%;
}

.places{
  margin: auto;
  margin-top: 92px;
  padding: 0 148px;
  border: 1px solid red;
}

.place{
  display: grid;
  grid-template-columns: 460px 1fr;
  gap: 48px 40px;
  margin: auto;
  margin-bottom: 80px;
  border: 1px solid red;
  justify-content: center;
}

.place:last-child{
  margin-bottom: 0;
}

.place__title{
  max-width: 460px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  grid-row: 1;
  grid-column: 1;
}

.place__image{
  max-width: 460px;
  grid-row: 2;
  grid-column: 1;
}

.place__website{
  width: 456px;
  grid-row: 1;
  grid-column: 2;
  align-self: end;
}

.place__url-heading{
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  margin: 0;
}

.link{
  color: white;
  list-style-type: none;
}

.place__link{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
}

.place__paragraph{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  margin: 0;
  padding-bottom: 26px;
}

.place__paragraph:last-child{
  padding-bottom: 0;
}

.cover{
  margin: 0 auto;
  padding-top: 92px;
  padding-left: 48px;
  padding-right: 48px;
}

.cover__overlay{
  width: 100%;
  min-height: 740px;
  background-image: url(../images/cover-trains.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.cover__overlay::before{
  background-color: #2A2C2F;
  opacity: .3;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .5s;
}


.cover__overlay:hover {
  opacity: 0.8;
}


.cover__title{
  max-width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  /* or 106% */
  text-align: center;
  padding: 0;
  margin: 0 auto;
  z-index: 1;
}

.cover__subtitle{
  max-width: 360px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */
  text-align: center;
  padding-top: 32px;
  margin: 0 auto;
  z-index: 1;
}


.footer{
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 24px;
  padding-top: 92px;
  border: 1px solid red;
}

.footer__links{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.footer__link{
  padding: 0;
  margin: 0;
  margin-right: 18px;
  text-decoration: none;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.footer__link:hover{
  margin-right: 0;
}

.footer__copyright{
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}