.place__paragraphs {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

/* исправила на min-width - max-width */
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place__paragraphs {
    gap: 25px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraphs {
    padding-left: 16px;
    padding-right: 16px;
  }
}
