.header__link{
  padding: 0;
  margin: 0;
  color: white;
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
  font-weight: 400;
}

.header__link:hover{
  opacity: 0.8;
}

/* исправила на max-width: 767px */
@media screen and (max-width: 767px) {
  .header__link{
    font-size: 18px;
    line-height: 20px;
  }
}
