.footer{
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 24px;
  padding-top: 92px;
  border: 1px solid red;
}

@media screen and (max-width: 1024px) {
  .footer{
    max-width: 1184px;
    margin: 0 48px 24px;
  }
}